# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
node_modules/
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# Bun
bun.lockb
.bun/

# Vite
dist/
dist-ssr/
*.local

# Testing
/coverage

# Data
/disk

# Production build
/build
/output

# Misc
.DS_Store
*.pem
*.local
Thumbs.db

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
bun-debug.log*

# Environment files
.env
.env.*
!.env.example

# Vercel
.vercel

# TypeScript
*.tsbuildinfo

# Editor
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/tasks.json
.idea/

# OS files
.DS_Store
.AppleDouble
.LSOverride

# Drizzle
drizzle/meta/_journal.json
